<div class="container my-4">
  <div class="row mb-4">
    <div class="col-6">
      <h3>Servers</h3>
      <hr />
      <app-servers></app-servers>
      <!-- or <div app-servers> or <div class="app-servers"> but change selector in servers.component.ts to '[app-servers]'-->
    </div>

    <div class="col-6">
      <h3>User</h3>
      <hr />
      <app-user></app-user>
      <!-- or <div app-servers> or <div class="app-servers"> but change selector in servers.component.ts to '[app-servers]'-->
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>Details</h3>
      <hr />
      <app-details></app-details>
      <!-- or <div app-servers> or <div class="app-servers"> but change selector in servers.component.ts to '[app-servers]'-->
    </div>
  </div>
</div>
